[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "COMIX"]
	path = COMIX
	url = https://github.com/cran/COMIX
[submodule "MultiFit"]
	path = MultiFit
	url = https://github.com/cran/MultiFit
